
{% filter outlet %}

    <div class="card">
        <div class="card-header">
            Description of {{ car }}
        </div>
        <div class="card-body">
            {{ car.description }}
        </div>
        <div class="card-footer">
            Rendered at {{ 'now'|date('H:i:s') }}
        </div>
    </div>

    Outlet of detailed:

{% endfilter %}

