<div class="row">
    <div class="col-sm-12">
        <nav>
            <a href="{{ path('default') }}">Listing</a>
        </nav>
        <hr>
    </div>

    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>Random number: {{ random() }}</li>
            <li>
                <hr>
            </li>
            {% for car in cars %}
                <li>
                    <a href="{{ path('car_detailed', {'id': car.id}) }}">{{ car }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9">
        {% filter outlet %}
            Please select car on the left
        {% endfilter %}
    </div>
</div>


