{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ path('default') }}">Back</a>
            </div>

            <div class="col-sm-6">
                <a href="{{ path('default_testing') }}">Go to outlet</a>
            </div>
        </div>


        <div class="row" style="border: 1px solid red">
            {% filter outlet %}
                {{ var }}
            {% endfilter %}
        </div>

    </div>
{% endblock %}
