<ul class="list-unstyled">
    {% for review in reviews %}
        <li>
            <div class="card">
                <div class="card-header">
                    Quote {{ random() }}
                </div>
                <div class="card-body">
                    {{ review.review }}
                </div>
            </div>
        </li>
    {% endfor %}

    {% filter outlet %}
qqq
    {% endfilter %}
</ul>