

<a href="{{ path('car_write_review', {'id': car.id}) }}">Write review</a>


<ul class="list-unstyled">
    {% for review in reviews %}
        <li>
            <div class="card">
                <div class="card-header">
                    Now: {{ 'now'|date('H:i:s') }}
                </div>
                <div class="card-body">
                    {{ review.review }}

                    <a href="{{ path('car_review_one', {'id': car.id, 'review_id': review.id}) }}">View review</a>
                </div>
            </div>
        </li>
    {% endfor %}
    {% filter outlet %}
qqq
    {% endfilter %}
</ul>